<div align ="right">Thomas Jefferson University <b>COMP 102</b>: Intro to Scientific Computing</div>

# Simplifying a dataset

Step 1 open file on the serengeti dataset

In [11]:
import pandas as pd

url = "https://raw.githubusercontent.com/cgwillis/SnapshotSerengetiLab/master/serengeti_data_preview/Serengeti_Data_200_lines.csv"

In [12]:
serengeti = pd.read_csv(url, usecols=range(0,15))
serengeti.head()

,Unnamed: 0,CaptureEventID,Date,Time (24 hour),Month (1=Jan.),Year,Species,Number Of Animals,Standing,Resting,Moving,Eating,Interacting,Babies,Camera Site
0,1,ASG0002kjm,7/24/10,8:20:10 AM,7,2010,gazelleGrants,1,0,0,1,0,0,0,B04
1,2,ASG0002kjn,7/24/10,10:14:32 AM,7,2010,reedbuck,1,1,0,0,0,0,0,B04
2,3,ASG0002kjo,7/30/10,3:59:42 AM,7,2010,dikDik,1,1,0,0,0,0,0,B04
3,4,ASG0002kjp,7/30/10,5:20:22 AM,7,2010,zebra,1,1,0,0,0,0,0,B04
4,5,ASG0002kjs,7/30/10,8:57:28 PM,7,2010,zebra,1,0,0,0,1,0,0,B04

In [16]:
cam_sites = pd.read_csv(url, usecols=range(14,28))
cam_sites.head()

,Camera Site,Longitude (m),Latitude (m),Habitat,Amount of Shade,Distance to River (m),Distance to Confluence (m),Distance to Kopje (m),Tree Density Measure,Lion Risk (Wet),Lion Risk (Dry),Greeness (Wet),Greeness (Dry),Camera Mount
0,B04,695238,9729497,Dense Woodland,3.0,1649.2395,2218.615169,6847.218456,7.285714,0.000496,0.000478,5979.5,3844.0,Tree
1,B04,695238,9729497,Dense Woodland,3.0,1649.2395,2218.615169,6847.218456,7.285714,0.000496,0.000478,5979.5,3844.0,Tree
2,B04,695238,9729497,Dense Woodland,3.0,1649.2395,2218.615169,6847.218456,7.285714,0.000496,0.000478,5979.5,3844.0,Tree
3,B04,695238,9729497,Dense Woodland,3.0,1649.2395,2218.615169,6847.218456,7.285714,0.000496,0.000478,5979.5,3844.0,Tree
4,B04,695238,9729497,Dense Woodland,3.0,1649.2395,2218.615169,6847.218456,7.285714,0.000496,0.000478,5979.5,3844.0,Tree

In [55]:
cam_sites_dict = cam_sites.drop_duplicates()
cam_sites_dict = cam_sites_dict.reset_index(drop=True)
cam_sites_dict

,Camera Site,Longitude (m),Latitude (m),Habitat,Amount of Shade,Distance to River (m),Distance to Confluence (m),Distance to Kopje (m),Tree Density Measure,Lion Risk (Wet),Lion Risk (Dry),Greeness (Wet),Greeness (Dry),Camera Mount
0,B04,695238,9729497,Dense Woodland,3.0,1649.239500,2218.615169,6847.218456,7.285714,0.000496,0.000478,5979.500000,3844.000000,Tree
1,B05,694892,9727162,Open Woodland/Shrubs,1.5,1013.889717,699.796563,5742.552009,5.000000,0.000535,0.000582,6215.944444,3936.333333,Tree
2,B06,694963,9724748,Dense Woodland,1.5,2935.747739,1104.754274,4573.639611,6.342857,0.000580,0.001216,5703.222222,4065.888889,Tree
3,B07,695026,9722578,Grassland w/Trees,2.0,1259.639695,1285.152173,4466.605015,6.176471,0.000652,0.001030,5893.944444,3862.888889,Tree

In [ ]:
cam_sites_dictionary = cam_sites_dict.set_index('Camera Site')
cam_sites_dictionary = cam_sites_dictionary.to_dict()
print(cam_sites_dictionary)

print('xxx')

print(cam_sites_dictionary.get('Habitat'))

![Alt text that will appear on mouseover](images/TJU_logo_dummy_image.png "Dummy image")

In [52]:
cam_sites_dict[cam_sites_dict['Camera Site']=='B04']['Habitat']

0    Dense Woodland
Name: Habitat, dtype: object

Now, create a data frame that contains event ID for all events where a dikDik was in dense woodland

In [96]:
dikdiks = serengeti[serengeti['Species']=='dikDik']

print(type(dikdiks))
          
#           & cam_sites_dict[serengeti['Species']=='dikDik']['Camera Site']['Habitat']=='Dense Woodland']['CaptureEventID']

woodland_sites = cam_sites_dict[cam_sites_dict['Habitat']=='Dense Woodland']

print(type(woodland_sites))

woodland_list = woodland_sites['Camera Site'].values.to_list()

# print(woodland_sites)

# # woodland_dikdiks

# #

# # wood_dikdik = serengeti[serengeti['Camera Site'] in woodland_sites['Camera Site']]['CaptureEventID']
# wood_dikdik = serengeti[serengeti['Camera Site'].isin(woodland_sites)]

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

AttributeError: 'numpy.ndarray' object has no attribute 'to_list'