In [108]:
import numpy as np
import pandas as pd


NOA_control = pd.read_csv('NOA_control.txt', sep = '\t', skiprows=6, names = ["interval","data"] )
NOA_scared = pd.read_csv('NOA_scared.txt', sep = '\t', skiprows=6, names = ["interval","data"] )
TYLER_control = pd.read_csv('TYLER_control.txt', sep = '\t', skiprows=6, names = ["interval","data"] )
TYLER_scared = pd.read_csv('TYLER_scared.txt', sep = '\t', skiprows=6, names = ["interval","data"] )

In [109]:
NOA_control.head()

  interval       data
0        0  -11.07812
1    0.001  -11.85938
2    0.002  -11.10938
3    0.003  -11.48438
4    0.004  -11.03125

In [131]:
FearData = pd.concat([NOA_control['data'],NOA_scared['data'],TYLER_control['data'],TYLER_scared['data']], ignore_index = True, axis=1, )

In [133]:
FearData.columns=["NOA_control","NOA_scared","TYLER_control","TYLER_scared"]
FearData.head()

  NOA_control  NOA_scared  TYLER_control  TYLER_scared
0   -11.07812   -14.79688       1.953125     -0.062500
1   -11.85938   -15.40625       2.015625     -0.140625
2   -11.10938   -14.20312       1.812500     -0.250000
3   -11.48438   -14.34375       1.750000     -0.390625
4   -11.03125   -13.12500       1.593750     -0.515625

In [134]:
FearData

      NOA_control  NOA_scared  TYLER_control  TYLER_scared
0       -11.07812   -14.79688       1.953125     -0.062500
1       -11.85938   -15.40625       2.015625     -0.140625
2       -11.10938   -14.20312       1.812500     -0.250000
3       -11.48438   -14.34375       1.750000     -0.390625
4       -11.03125   -13.12500       1.593750     -0.515625
5       -11.10938   -12.70312       1.562500     -0.625000
6       -10.90625   -12.20312       1.484375     -0.750000
7       -10.84375   -11.84375       1.453125     -0.875000
8          -10.75   -11.31250       1.359375     -1.000000
9       -10.65625   -11.12500       1.296875     -1.125000
10      -10.53125   -10.85938       1.250000     -1.265625
11      -10.34375   -10.59375       1.218750     -1.406250
12        -10.125   -10.54688       1.156250     -1.578125
13         -9.875   -10.53125       1.078125     -1.734375
14         -9.625   -10.87500       0.984375     -1.875000
15      -9.390625   -11.23438       0.937500     -1.984375
16        -9.1875   -11.35938       0.906250     -2.109375
17        -8.9375   -11.71875       0.859375     -2.203125
18      -8.703125   -12.15625       0.859375     -2.265625
19      -8.453125   -12.53125       0.843750     -2.328125
20      -8.140625   -12.90625       0.765625     -2.390625
21        -7.8125   -13.37500       0.687500     -2.437500
22        -7.4375   -13.87500       0.656250     -2.468750
23      -7.078125   -14.07812       0.640625     -2.500000
24       -6.71875   -14.54688       0.609375     -2.515625
25       -6.34375   -15.04688       0.734375     -2.500000
26        -5.9375   -15.17188       0.765625     -2.500000
27      -5.546875   -15.57812       0.750000     -2.500000
28       -5.15625   -16.07812       0.812500     -2.500000
29      -4.734375   -16.29688       0.765625     -2.484375
...           ...         ...            ...           ...
19214    13.53125         NaN            NaN           NaN
19215    15.35938         NaN            NaN           NaN
19216    17.21875         NaN            NaN           NaN
19217    19.09375         NaN            NaN           NaN
19218    20.98438         NaN            NaN           NaN
19219      22.875         NaN            NaN           NaN
19220    24.78125         NaN            NaN           NaN
19221    26.70312         NaN            NaN           NaN
19222     28.5625         NaN            NaN           NaN
19223    30.39062         NaN            NaN           NaN
19224    32.17188         NaN            NaN           NaN
19225    33.90625         NaN            NaN           NaN
19226     35.5625         NaN            NaN           NaN
19227    37.10938         NaN            NaN           NaN
19228      38.625         NaN            NaN           NaN
19229    40.10938         NaN            NaN           NaN
19230        41.5         NaN            NaN           NaN
19231    42.84375         NaN            NaN           NaN
19232    44.14062         NaN            NaN           NaN
19233    45.39062         NaN            NaN           NaN
19234      46.625         NaN            NaN           NaN
19235     47.8125         NaN            NaN           NaN
19236    48.95312         NaN            NaN           NaN
19237    50.07812         NaN            NaN           NaN
19238     51.1875         NaN            NaN           NaN
19239    52.21875         NaN            NaN           NaN
19240    53.20312         NaN            NaN           NaN
19241    54.14062         NaN            NaN           NaN
19242    55.03125         NaN            NaN           NaN
19243      55.875         NaN            NaN           NaN

[19244 rows x 4 columns]

In [ ]:
Data1 = {'NOA_Control':['NOA_control.txt'],
        'NOA_Scared':}