<div align ="right">Thomas Jefferson University <b>COMP 101</b>: Intro to Coding</div>

# Assignment or Activity Title

The quick gray fox jumped over the lazy brown dog. All work and no play makes Jack a dull boy. The quick gray fox jumped over the lazy brown dog. The quick gray fox jumped over the lazy brown dog. All work and no play makes Jack a dull boy. All work and no play makes Jack a dull boy. Thequickgrayfoxjumpedoverthelazybrowndog.The quick gray fox jumped over the lazy brown dog. The quick gray fox jumped over the lazy brown dog. ThequickgrayfoxmakesJackadullboy.

Code example:

```
for i in range(10):
    print("All work and no play makes Jack a dull boy.")
```

*Live* code:

In [ ]:
for i in range(10):
    print("All work and no play makes Jack a dull boy.")

To insert an image:
![Alt text that will appear on mouseover](images/TJU_logo_dummy_image.png "Dummy image")

To work with external data:

In [5]:
import pandas as pd
sample_data = pd.read_csv('data/populations.csv')
sample_data

       Country   Population
0        China    1420062022
1        India    1368737513
2          USA     329093110
3    Indonesia     269536482
4       Brazil     212392717
5     Pakistan     204596442
6      Nigeria     200962417
7   Bangladesh     168065920
8       Russia     143895551
9       Mexico     132328035
10       Japan     126854745

To use an assert to test a fuction:

In [6]:
#define the function

def largest_item(items):
    largest = []
    largest = max(items)
    return largest

#run an assert using test data of known outcome
test_data = [1,2,3,4,18,6,7]
assert largest_item(test_data) == 18, "Description of error this assert is testing"

#output if assert resolves to true
print("Congratulations, your function worked!")

Congratulations, your function worked!

In order to freeze certain cells go to `View > Cell Toolbar > Edit Metadata`

For cells that you wish to lock (Code or Markdown) replace the metadata with the code below:

```
{
  "trusted": true,
  "editable": false,
  "deletable": false
}
```
For code cells that you want students to be able to edit use the following code:

```
{
  "trusted": true,
  "editable": true,
  "deletable": false
}
```